# Fichiers JetBrains/WebStorm
.idea/
*.iml

# Logs
*.log

# Node.js / npm
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Build / dist / production
dist/
build/
out/

# Système
.DS_Store
Thumbs.db

# Environnement
.env
